<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-1" href="#">Fantasy Trader</a>
  <!--a class="nav-link" href="#">Administration</a-->
  <div *ngIf="username">
    <h2>Hi, {{username}}!</h2>
  </div>
  
  <div>
    <button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
      </div>
  <div class="flex-grow-0">
    <ul class="navbar-nav text-right">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/administration">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<button (click)="printDetails()">Print Details</button>