<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Fantasy Trader</a>
  <!-- Links -->
  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item dropdown" *ngIf="isAuthenticated">
      <a class="nav-link" href="#" data-toggle="dropdown">{{username}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
      </div>
    </li>
    <li class="nav-item" *ngIf="!isAuthenticated">
      <button class="btn btn-success" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pnl" routerLinkActive="active">Profit & loss</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="administration" routerLinkActive="active">Administration</a>
    </li>
  </ul>
</nav>
