<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Fantasy Trader</a>
  <!-- Links -->
  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item dropdown" *ngIf="auth.userProfile$ | async as profile">
      <a class="nav-link" href="#" data-toggle="dropdown">{{profile.name}}</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="auth.logout()">Logout</a>
      </div>
    </li>
    <li class="nav-item" >
      <button class="btn btn-success" *ngIf="!auth.loggedIn" (click)="this.auth.login()"> Login </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile" routerLinkActive="active" *ngIf="auth.loggedIn">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pnl" routerLinkActive="active">Profit & loss</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="administration" routerLinkActive="active">Administration</a>
    </li>
    <li class="nav-item">
      <span [class]="this.commsService.ordersHub?.state=='Connected'?'connectedIcon':'disconnectedIcon'">
        <fa-icon [icon]="['fas', 'circle']" size="lg" placement="right" [ngbTooltip]="this.commsService.ordersHub?.state=='Connected'?'Order Service is Connected':'Order Service is Disconnected'"></fa-icon>
      </span>
      <span [class]="this.commsService.pricesHub?.state=='Connected'?'connectedIcon':'disconnectedIcon'">
        <fa-icon [icon]="['fas', 'circle']" size="lg" placement="right" [ngbTooltip]="this.commsService.pricesHub?.state=='Connected'?'Price Service is Connected':'Price Service is Disconnected'"></fa-icon>
      </span>
    </li>
  </ul>
</nav>
