<div class="container-fluid">
<ul ngbNav #pricesNav="ngbNav" [(activeId)]="activePriceGrid" class="nav-tabs"  (activeIdChange)="tabChanged($event)">
  <li ngbNavItem [ngbNavItem]="'blank'">
    <a ngbNavLink>Price Grids</a>
    <ng-template ngbNavContent>
      Click on a price grid to show that grid
    </ng-template>
  </li>
  <li *ngFor="let priceGrid of this.priceGridService.priceGrids" ngbNavItem [ngbNavItem]="priceGrid.name">
    <a ngbNavLink>{{priceGrid.name}}</a>
    <ng-template ngbNavContent>
      <table class="table">
        <tr>
          <th>Symbol</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let priceGridEntry of this.priceGridService.priceGridEntries">
          <td>{{priceGridEntry.symbol}}</td>
          <td [class]="'direction-'+commsService.prices[priceGridEntry.symbol]?.direction"><a class="price" (click)="placeOrder(priceGridEntry.symbol)">{{commsService.prices[priceGridEntry.symbol]?.lastPrice}}</a></td>
        </tr>
      </table>
      </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="pricesNav" class="mt-2"></div>
<pre>Active: {{ activePriceGrid }}</pre>

Market Status is: {{ commsService.marketStatus }}

<button (click)="commsService.openMarket()">Open Market</button>
<button (click)="commsService.closeMarket()">Close Market</button>

</div>