<ul ngbNav #pricesNav="ngbNav" [(activeId)]="activePriceGrid" class="nav-tabs"  (activeIdChange)="tabChanged($event)">
  <li ngbNavItem [ngbNavItem]="'blank'">
    <a ngbNavLink>Price Grids</a>
    <ng-template ngbNavContent>
      Click on a price grid to show that grid
    </ng-template>
  </li>
  <li *ngFor="let priceGrid of priceGrids" ngbNavItem [ngbNavItem]="priceGrid.name">
    <a ngbNavLink>{{priceGrid.name}}</a>
    <ng-template ngbNavContent>
      <table class="table">
        <tr>
          <th>Symbol</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let priceGridEntry of priceGridEntries">
          <td>{{priceGridEntry.symbol}}</td>
          <td [class]="'direction-'+prices[priceGridEntry.symbol]?.direction">{{prices[priceGridEntry.symbol]?.lastPrice}}</td>
        </tr>
      </table>
      </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="pricesNav" class="mt-2"></div>
<pre>Active: {{ activePriceGrid }}</pre>

Market Status is: {{ marketStatus }}

<button (click)="openMarket()">Open Market</button>
<button (click)="closeMarket()">Close Market</button>