<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

<div class="card" style="width: 60rem;">
  
  <div class="card-body">
    <h5 class="card-title">Prices</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!--
<p>pricegrid works!</p>
<mat-tab-group #tabRef (selectedTabChange)="changeTab(tabRef.selectedIndex)">
    <mat-tab *ngFor="let priceGrid of priceGrids" label="{{priceGrid.name}}">
      <table>
        <tr *ngFor="let priceGridEntry of priceGridEntries">
          <td>{{priceGridEntry.symbol}}</td>
          <td>Price</td>
        </tr>
      </table>
    </mat-tab>
</mat-tab-group>
-->