<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/ft logo - 45x40.png"
  />
  <span>Fantasy Trader</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} welcomes you!</span>
  </div>

  <!-- Resources -->

  <div class="card-container">
    <div class="card" (click)="showPrices = !showPrices">
      <span>Prices</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>

    <div class="card" (click)="showOrders = !showOrders">
      <span>Orders</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>

    <div class="card" (click)="showPnL = !showPnL">
      <span>Profit and Loss</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>
  </div>

  <div *ngIf="showPrices">
    <span> Prices </span>
  </div>
  <div *ngIf="showOrders">
    <app-ordersgrid></app-ordersgrid>
  </div>
  <div *ngIf="showPnL">
    <span> PnL </span>
  </div>



</div>

<app-message></app-message>
