<div id="container" *ngIf="messageService.messages.length">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Messages">
      <ng-template ngbPanelContent>
        <button class="clear" (click)="messageService.clear()">clear</button>
        <table>
          <tr *ngFor='let message of messageService.messages'>
            <td nowrap>{{message[0] | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{message[1]}}</td>
          </tr>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>