<div id="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Prices">
      <ng-template ngbPanelContent>
        <div class="card-body">
          <app-pricegrid></app-pricegrid>
        </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Orders">
      <ng-template ngbPanelContent>
        <div class="card-body">
          <app-ordersgrid></app-ordersgrid>
        </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="P&L">
      <ng-template ngbPanelContent>
        <div class="card-body">
          <span> PnL </span>
        </div>
        </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
