<div class="container-fluid">
  <div class="row">
    <span class="btn"><h4 (click)="showTodayOrders = !showTodayOrders">Today's orders</h4></span>
    <table class="table table-sm" [ngbCollapse]="!showTodayOrders">
      <tr>
        <th>Created</th>
        <th>Id</th>
        <th>ClOrdId</th>
        <th>Symbol</th>
        <th>Account</th>
        <th>Quantity</th>
        <th>Fills</th>
        <th>State</th>
        <th>Type</th>
        <th>Side</th>
        <th>Percent Complete</th>
        <th>Average Fill Price</th>
      </tr>
      <tr *ngFor="let order of commsService.todayOrders">
        <td>{{order.created | date:'medium'}}</td>
        <td><a href (click)="!!showOrderHistory(order)">{{order.id}}</a></td>
        <td>{{order.clientOrderId}}</td>
        <td>{{order.symbol}}</td>
        <td>{{order.account?.name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.fillQuantity}}</td>
        <td>{{order.orderState}}</td>
        <td>{{order.orderType}}</td>
        <td>{{order.side}}</td>
        <td>{{order.percentComplete|percent}}</td>
        <td>{{order.averageFillPrice}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <span class="btn"><h4 (click)="showYesterdayOrders = !showYesterdayOrders">Yesterday's orders</h4></span>
    <table class="table table-sm" [ngbCollapse]="!showYesterdayOrders">
      <tr>
        <th>Created</th>
        <th>Id</th>
        <th>ClOrdId</th>
        <th>Symbol</th>
        <th>Account</th>
        <th>Quantity</th>
        <th>Fills</th>
        <th>State</th>
        <th>Type</th>
        <th>Side</th>
        <th>Percent Complete</th>
        <th>Average Fill Price</th>
      </tr>
      <tr *ngFor="let order of commsService.yesterdayOrders">
        <td>{{order.created | date:'medium'}}</td>
        <td>{{order.id}}</td>
        <td>{{order.clientOrderId}}</td>
        <td>{{order.symbol}}</td>
        <td>{{order.account?.name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.fillQuantity}}</td>
        <td>{{order.orderState}}</td>
        <td>{{order.orderType}}</td>
        <td>{{order.side}}</td>
        <td>{{order.percentComplete|percent}}</td>
        <td>{{order.averageFillPrice}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <span class="btn"><h4 (click)="showOlderOrders = !showOlderOrders">Older orders</h4></span>
    <table class="table table-sm" [ngbCollapse]="!showOlderOrders">
      <tr>
        <th>Created</th>
        <th>Id</th>
        <th>ClOrdId</th>
        <th>Symbol</th>
        <th>Account</th>
        <th>Quantity</th>
        <th>Fills</th>
        <th>State</th>
        <th>Type</th>
        <th>Side</th>
        <th>Percent Complete</th>
        <th>Average Fill Price</th>
      </tr>
      <tr *ngFor="let order of commsService.olderOrders">
        <td>{{order.created | date:'medium'}}</td>
        <td>{{order.id}}</td>
        <td>{{order.clientOrderId}}</td>
        <td>{{order.symbol}}</td>
        <td>{{order.account?.name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.fillQuantity}}</td>
        <td>{{order.orderState}}</td>
        <td>{{order.orderType}}</td>
        <td>{{order.side}}</td>
        <td>{{order.percentComplete|percent}}</td>
        <td>{{order.averageFillPrice}}</td>
      </tr>
    </table>
  </div>
</div>
