

<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col">
      <span class="display-3">Recent orders</span>
    </div>
    <div class="col">
      <span class="syncIcon" (mouseover)="spinning=true" (mouseout)="spinning=false">
        <fa-icon [icon]="faSync" size="3x" [spin]="spinning" (click)="refreshOrders()"></fa-icon>
      </span>
    </div>
  </div>  
  <hr/>
    <div class="row">
        <div *ngFor="let order of orders" class="col-md-6 col-lg-4 col-xl-3 py-2">
            <div class="card" style="width: 12rem;">
                <div class="card-body">
                  <h5 class="card-title">{{order.clientOrderId}}</h5>
                  <p class="card-text">{{order.side}} {{order.symbol}} x {{order.quantity}} @ {{order.price}}</p>
                </div>
              </div>
        </div>
    </div>
</div>
