



<div class="container border border-secondary">
    <h4>Recent orders</h4>
    <div class="row">
        <div *ngFor="let order of orders" class="col-md-6 col-lg-4 col-xl-3 py-2">
            <div class="card" style="width: 12rem;">
                <div class="card-body">
                  <h5 class="card-title">{{order.clientOrderId}}</h5>
                  <p class="card-text">{{order.side}} {{order.symbol}} x {{order.quantity}} @ {{order.price}}</p>
                </div>
              </div>
        </div>
    </div>
    <button (click)="refreshOrders()">Refresh Orders</button>
</div>